# Example environment variables for Strapi
# Use HTTPS for secure communication; plain HTTP is intended only for legacy or local development scenarios
STRAPI_API_URL=https://localhost:1337
# Generate a token in Strapi and place it here
STRAPI_API_TOKEN=
REVALIDATE_INTERVAL=60 # Next.js fetch revalidation in seconds

